@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=cyrillic-ext,latin);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,300italic,400italic,500,500italic,700,700italic&subset=cyrillic-ext,latin);

body {
margin: 0;
padding: 0;
height: 100%;
background: #101e2e;
}

a:link {
text-decoration: none;
outline: none;
color: #F2F2F2;
}

a:visited {
text-decoration: none;
outline: none;
color: #F2F2F2;
}

a:active {
text-decoration: none;
outline: none;
color: #F2F2F2;
}

a:hover {
text-decoration: none;
outline: none;
color: #F2F2F2;
}

::selection {
color: #E0E0E0;
background: #000;
}

::-moz-selection {
color: #E0E0E0;
background: #000;
}

#MVWXA5DZ {
font-size: 20px;
font-family: "Roboto Mono", Tahoma, Arial, sans-serif;
padding-bottom: 15px;
color: #E0E0E0;
font-weight: 400;
}

#ORUXI3DFNRXXG5AK {
margin: 0;
padding: 0;
height: 100%;
background: #000000;
}

#dGhpbmcK {
font-size: 40px;
font-family: "Roboto", Tahoma, Arial, sans-serif;
padding-bottom: 15px;
color: #E0E0E0;
font-weight: 400;
}

#eggreturnshome {
margin: 0;
padding: 0;
text-align: center;
background-color: #0C0C0C;
background: url(../EggReturnsHome/images/background.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#gameblock {
margin-top: 5%;
display: inline-block;
width: 550px;
height: 400px;
}

#bigtext {
margin: 15px;
font-size: 50px;
font-weight: 300;
font-family: "Roboto", Tahoma, Arial, sans-serif;
color: #F2F2F2;
}

#description {
font-size: 20px;
font-family: "Roboto", Tahoma, Arial, sans-serif;
padding-bottom: 15px;
color: #E0E0E0;
font-weight: 300;
}

#footer {
width: 100%;
position: fixed;
bottom: 0;
left: 0;
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
}

#footerbutton {
float: center;
margin-top: 6px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 7px;
padding-right: 7px;
display: inline;
background: #282828;
font-size: 15px;
font-family: "Roboto", Tahoma, Arial, sans-serif;
font-weight: 300;
color: #F2F2F2;
text-decoration: none;
border: 0;
cursor: pointer;
text-align: center;
}

#footerbutton:hover {
background: #A53535;
}

#container {
padding-bottom:100px;
text-align: center;
}

#gamebutton {
float: center;
margin-top: 5px;
margin-bottom: 7px;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 14px;
padding-right: 14px;
display: inline;
text-decoration: none;
border: 0;
cursor: pointer;
text-align: center;
display: inline-block;
}

#gamebutton:hover {
background: #333333;
}

#backbutton {
float: center;
margin-top: 6px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 7px;
padding-right: 7px;
display: inline;
font-size: 15px;
font-family: "Roboto", Tahoma, Arial, sans-serif;
font-weight: 300;
color: #F2F2F2;
text-decoration: none;
border: 0;
cursor: pointer;
text-align: center;
}

#backbutton:hover {
background: #A53535;
}

#getbutton {
float: center;
margin-top: 5px;
margin-bottom: 7px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 21px;
padding-right: 21px;
background: #333333;
display: inline;
text-transform: uppercase;
font-size: 14px;
font-family: "Roboto", Tahoma, Arial, sans-serif;
font-weight: 500;
color: #FFFFFF;
text-decoration: none;
border: 0;
cursor: pointer;
text-align: center;
width: 120px;
height: 40px;
}

#getbutton:hover {
background: #A53535;
}
